
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
header img {
    float: left;
    width: 8%;
    height: 8%;
  }
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #000;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  
  .product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .product h2 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .product p {
    margin: 10px 0;
  }
  
  .product img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  
  .product button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
